<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>View items</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="viewport">
    <div th:insert="~{fragment/side-bar :: side-bar}"></div>

    <div id="content">
        <div class="container-fluid">
            <br/>
            <div th:if="${items.metadata.page == 0}">
                <div sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/items/filter}" th:object="${itemFilterForAdmin}">
                        <br/>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Item name</th>
                                <th>Inventory number</th>
                                <th>Stored in</th>
                                <th>Time interval</th>
                                <th></th>
                                <th>Show items created in</th>
                                <th>Owned by employee</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <label for="name">
                                        <input type="text" id="name" name="name" placeholder="Item name"
                                               th:value="*{name}" autofocus>
                                    </label>
                                </td>
                                <td>
                                    <label for="inventoryNumber">
                                        <input type="text" id="inventoryNumber" name="inventoryNumber"
                                               placeholder="Inventory number"
                                               th:value="*{inventoryNumber}">
                                    </label>
                                </td>
                                <td>
                                    <label for="storedIn">
                                        <input type="text" id="storedIn" name="storedIn" placeholder="Stored in"
                                               th:value="*{storedIn}">
                                    </label>
                                </td>
                                <td>
                                    <label for="timeIntervalStart">
                                        <input type="date" id="timeIntervalStart" name="timeIntervalStart"
                                               th:value="*{timeIntervalStart}">
                                    </label>
                                </td>
                                <td>
                                    <label for="timeIntervalEnd">
                                        <input type="date" id="timeIntervalEnd" name="timeIntervalEnd"
                                               th:value="*{timeIntervalEnd}">
                                    </label>
                                </td>
                                <td>
                                    <label for="showItemCreated">
                                        <select id="showItemCreated" name="showItemCreated">
                                            <option th:each="option : ${optionsForShowItemCreated}"
                                                    th:value="${option.name()}"
                                                    th:text="${option}"
                                                    th:selected="${itemFilterForAdmin.showItemCreated != null && itemFilterForAdmin.showItemCreated == option}">
                                            </option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <label for="isOwnedByEmployee">
                                        <select id="isOwnedByEmployee" name="isOwnedByEmployee">
                                            <option th:each="option : ${optionsForIsOwnedByEmployee}"
                                                    th:value="${option}"
                                                    th:text="${option}"
                                                    th:selected="${itemFilterForAdmin.isOwnedByEmployee != null && itemFilterForAdmin.isOwnedByEmployee == option}">
                                            </option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary add-button">Filter</button>
                    </form>
                    <br/>
                    <form th:action="@{/items/filter/clear}" th:method="delete">
                        <button type="submit" class="btn btn-danger add-button">Clear filter</button>
                    </form>
                </div>
                <br/>
                <form th:if="${items.metadata.totalElements != 0}" th:action="@{/items/export}">
                    <button type="submit" class="btn btn-success add-button">Export to PDF</button>
                </form>
                <br/>
                <div th:if="${items.metadata.totalElements != 0}"
                     style="display: flex; justify-content: space-between;">
                    <form th:action="@{/inventory/sighted}" style="flex: 1;  margin-right: 8px;">
                        <button type="submit" class="btn btn-warning add-button">Start "sighted" inventorying</button>
                    </form>

                    <form th:action="@{/inventory/blind}" style="flex: 1; margin-left: 8px;">
                        <button type="submit" class="btn btn-warning add-button">Start "blind" inventorying</button>
                    </form>
                </div>
            </div>
            <br/>
            <br/>
            <table th:if="${items.metadata.totalElements != 0}" id="datatable"
                   class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Serial number</th>
                    <th>Item name</th>
                    <th>Inventory number</th>
                    <th>Stored in</th>
                    <th>Unit</th>
                    <th>Price per unit</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                    <th>Created at</th>
                    <th>Owned by employee</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${items.content}" th:object="${item}">
                    <td th:text="*{serialNumber}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{inventoryNumber}"></td>
                    <td th:text="*{storedIn}"></td>
                    <td th:text="*{getUnit}"></td>
                    <td th:text="*{getPricePerUnit}"></td>
                    <td th:text="*{quantity}"></td>
                    <td th:text="*{sum}"></td>
                    <td th:text="*{createdAt.toLocalDate()}"></td>
                    <td th:text="*{isOwnedByEmployee}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')" class="text-center">
                        <form th:action="@{'/items/' + *{id}}" target="_blank">
                            <button type="submit" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${items.metadata.totalPages > 1}" class="pagination">
                <a th:href="@{/items/filter(page=0)}">&laquo;</a>

                <a th:each="pageNumber : ${#numbers.sequence(items.metadata.firstPage, items.metadata.lastPage)}"
                   th:classappend="${pageNumber == items.metadata.page ? 'active' : ''}" th:text="${pageNumber + 1}"
                   th:href="@{/items/filter(page=${pageNumber})}"></a>

                <a th:href="@{/items/filter(page=${items.metadata.getTotalPages() - 1})}">&raquo;</a>
            </div>
            <span th:if="${items.metadata.totalElements != 0}"
                  th:text="'Total elements: ' + ${items.metadata.totalElements} + '. Total pages: ' + ${items.metadata.totalPages}"></span>
        </div>
    </div>
</div>
</body>
</html>
