<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventorying app</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="viewport">
    <div th:insert="~{fragment/side-bar :: side-bar}"></div>

    <div id="content">
        <div class="container-fluid">
            <div th:if="${items.metadata.page == 0}">
                <form th:action="@{/items/filter}" method="get" th:object="${itemFilter}">
                    <br/>
                    <br/>
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Inventory number</th>
                            <th>Stored in</th>
                            <th>Time interval</th>
                            <th></th>
                            <th>Show items created in</th>
                            <th>Owned by employee</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <th>
                                <label for="name">
                                    <input type="text" id="name" name="name" placeholder="Item name"
                                           th:value="*{name}" autofocus>
                                </label>
                            </th>
                            <th>
                                <label for="inventoryNumber">
                                    <input type="text" id="inventoryNumber" name="inventoryNumber"
                                           placeholder="Inventory number"
                                           th:value="*{inventoryNumber}">
                                </label>
                            </th>
                            <th>
                                <label for="storedIn">
                                    <input type="text" id="storedIn" name="storedIn" placeholder="Stored in"
                                           th:value="*{storedIn}">
                                </label>
                            </th>
                            <th>
                                <label for="timeIntervalStart">
                                    <input type="date" id="timeIntervalStart" name="timeIntervalStart"
                                           th:value="*{timeIntervalStart}">
                                </label>
                            </th>
                            <th>
                                <label for="timeIntervalEnd">
                                    <input type="date" id="timeIntervalEnd" name="timeIntervalEnd"
                                           th:value="*{timeIntervalEnd}">
                                </label>
                            </th>
                            <th>
                                <label for="showItemCreated">
                                    <select id="showItemCreated" name="showItemCreated">
                                        <option th:each="option : ${optionsForShowItemCreated}"
                                                th:value="${option}"
                                                th:text="${option}"
                                                th:selected="${itemFilter.showItemCreated != null && itemFilter.showItemCreated == option}">
                                        </option>
                                    </select>
                                </label>
                            </th>
                            <th>
                                <label for="isOwnedByEmployee">
                                    <select id="isOwnedByEmployee" name="isOwnedByEmployee">
                                        <option th:each="option : ${optionsForIsOwnedByEmployee}"
                                                th:value="${option}"
                                                th:text="${option}"
                                                th:selected="${itemFilter.isOwnedByEmployee != null && itemFilter.isOwnedByEmployee == option}">
                                        </option>
                                    </select>
                                </label>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary add-button">Filter</button>
                </form>
                <br/>
                <form th:object="${itemFilter}" th:action="@{/items/export}" method="get">
                    <input type="hidden" name="name" th:value="*{name}"/>
                    <input type="hidden" name="inventoryNumber" th:value="*{inventoryNumber}"/>
                    <input type="hidden" name="storedIn" th:value="*{storedIn}"/>
                    <input type="hidden" name="timeIntervalStart" th:value="*{timeIntervalStart}"/>
                    <input type="hidden" name="timeIntervalEnd" th:value="*{timeIntervalEnd}"/>
                    <input type="hidden" name="showItemCreated" th:value="*{showItemCreated}"/>
                    <input type="hidden" name="isOwnedByEmployee" th:value="*{isOwnedByEmployee}"/>
                    <button type="submit" class="btn btn-success add-button">Export to PDF</button>
                </form>
                <br/>

                <div style="display: flex; justify-content: space-between;">
                    <form th:action="@{/inventory/sighted}" th:object="${itemFilter}" method="get"
                          style="flex: 1;  margin-right: 8px;">
                        <input type="hidden" name="name" th:value="*{name}"/>
                        <input type="hidden" name="inventoryNumber" th:value="*{inventoryNumber}"/>
                        <input type="hidden" name="storedIn" th:value="*{storedIn}"/>
                        <input type="hidden" name="timeIntervalStart" th:value="*{timeIntervalStart}"/>
                        <input type="hidden" name="timeIntervalEnd" th:value="*{timeIntervalEnd}"/>
                        <input type="hidden" name="showItemCreated" th:value="*{showItemCreated}"/>
                        <input type="hidden" name="isOwnedByEmployee" th:value="*{isOwnedByEmployee}"/>
                        <button type="submit" class="btn btn-warning add-button">Start "sighted" inventorying</button>
                    </form>

                    <form th:action="@{/inventory/blind}" th:object="${itemFilter}" method="get"
                          style="flex: 1; margin-left: 8px;">
                        <input type="hidden" name="name" th:value="*{name}"/>
                        <input type="hidden" name="inventoryNumber" th:value="*{inventoryNumber}"/>
                        <input type="hidden" name="storedIn" th:value="*{storedIn}"/>
                        <input type="hidden" name="timeIntervalStart" th:value="*{timeIntervalStart}"/>
                        <input type="hidden" name="timeIntervalEnd" th:value="*{timeIntervalEnd}"/>
                        <input type="hidden" name="showItemCreated" th:value="*{showItemCreated}"/>
                        <input type="hidden" name="isOwnedByEmployee" th:value="*{isOwnedByEmployee}"/>
                        <button type="submit" class="btn btn-warning add-button">Start "blind" inventorying</button>
                    </form>
                </div>
            </div>
            <br/>
            <br/>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Serial number</th>
                    <th>Item name</th>
                    <th>Inventory number</th>
                    <th>Stored in</th>
                    <th>Units</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Created at</th>
                    <th>Owned by employee</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${items.content}" th:object="${item}">
                    <td th:text="*{serialNumber}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{inventoryNumber}"></td>
                    <td th:text="*{storedIn}"></td>
                    <td th:text="*{units}"></td>
                    <td th:text="*{quantity}"></td>
                    <td th:text="*{price}"></td>
                    <td th:text="*{createdAt.toLocalDate()}"></td>
                    <td th:text="*{isOwnedByEmployee}"></td>
                    <td class="text-center">
                        <form th:action="@{'/items/' + ${item.id}}" method="get" target="_blank">
                            <button type="submit" class="btn btn-primary btn-xs" data-title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="${items.metadata.totalPages > 1}" class="pagination" th:object="${itemFilter}">
                <a th:href="@{/items/filter(
                    page=0,
                    inventoryNumber=*{inventoryNumber},
                    name=*{name},
                    storedIn=*{storedIn},
                    timeIntervalStart=*{timeIntervalStart},
                    timeIntervalEnd=*{timeIntervalEnd},
                    showItemCreated=*{showItemCreated},
                    isOwnedByEmployee=*{isOwnedByEmployee})}">&laquo;</a>

                <a th:each="pageNumber : ${#numbers.sequence(items.metadata.firstPage, items.metadata.lastPage)}"
                   th:classappend="${pageNumber == items.metadata.page ? 'active' : ''}" th:text="${pageNumber + 1}"
                   th:href="@{/items/filter(
                       page=${pageNumber},
                       inventoryNumber=*{inventoryNumber},
                       name=*{name},
                       storedIn=*{storedIn},
                       timeIntervalStart=*{timeIntervalStart},
                       timeIntervalEnd=*{timeIntervalEnd},
                       showItemCreated=*{showItemCreated},
                       isOwnedByEmployee=*{isOwnedByEmployee})}"></a>

                <a th:href="@{/items/filter(
                    page=${items.metadata.getTotalPages() - 1},
                    inventoryNumber=*{inventoryNumber},
                    name=*{name},
                    storedIn=*{storedIn},
                    timeIntervalStart=*{timeIntervalStart},
                    timeIntervalEnd=*{timeIntervalEnd},
                    showItemCreated=*{showItemCreated},
                    isOwnedByEmployee=*{isOwnedByEmployee})}">&raquo;</a>
            </div>
            <span th:text="'Total elements: ' + ${items.metadata.totalElements} + '. Total pages: ' + ${items.metadata.totalPages}"></span>
        </div>
    </div>
</div>
</body>
</html>
