<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventorying app</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="viewport">
    <div th:insert="~{fragment/side-bar :: side-bar}"></div>

    <div id="content">
        <div class="container-fluid">
            <br/>
            <form method="post" th:action="@{/items}">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th width="1">Serial number</th>
                        <th>Item name</th>
                        <th>Inventory number</th>
                        <th>Stored in</th>
                        <th>Unit</th>
                        <th>Price per unit</th>
                        <th>Quantity</th>
                        <th>Owned by employee</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:object="${itemDto}">
                        <td class="text-center">
                            <b th:text="${items.content.size() == 0 ? 1 : items.content.getFirst().serialNumber + 1}"></b>
                            <label for="serialNumber">
                                <input type="hidden" id="serialNumber" name="serialNumber"
                                       th:value="${items.content.size() == 0 ? 1 : items.content.getFirst().serialNumber + 1}">
                            </label>
                        </td>
                        <td>
                            <label for="name">
                                <input type="text" id="name" name="name" placeholder="Item name"
                                       th:value="*{name}" autofocus>
                            </label>
                        </td>
                        <td>
                            <label for="inventoryNumber">
                                <input type="text" id="inventoryNumber" name="inventoryNumber"
                                       placeholder="Inventory number"
                                       th:value="*{inventoryNumber}">
                            </label>
                        </td>
                        <td>
                            <label for="storedIn">
                                <input type="text" id="storedIn" name="storedIn" placeholder="Stored in"
                                       th:value="*{storedIn}">
                            </label>
                        </td>
                        <td>
                            <label for="unit">
                                <select id="unit" name="unit" th:field="${itemDto.unit}">
                                    <option th:each="option : ${units}"
                                            th:text="${option}"
                                            th:value="${option}"
                                            th:selected="${itemDto.unit == option}">
                                    </option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <label for="pricePerUnit">
                                <input type="number" id="pricePerUnit" name="pricePerUnit" placeholder="Price per unit"
                                       th:value="*{getPricePerUnit}" step=0.01>
                            </label>
                        </td>
                        <td>
                            <label for="quantity">
                                <input type="number" id="quantity" name="quantity" placeholder="Quantity"
                                       th:value="*{quantity}" step=0.001>
                            </label>
                        </td>
                        <td>
                            <label for="isOwnedByEmployee">
                                <input class="form-check-input" type="checkbox" id="isOwnedByEmployee"
                                       name="isOwnedByEmployee"
                                       th:checked="${itemDto.isOwnedByEmployee != null && itemDto.isOwnedByEmployee.equals('on')}">
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <label for="saveName">
                                <input class="form-check-input" type="checkbox" id="saveName" name="saveName"
                                       th:checked="${saveField.saveName != null && saveField.saveName.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <div>
                                <label for="saveInventoryNumber">
                                    <input class="form-check-input" type="checkbox" id="saveInventoryNumber"
                                           name="saveInventoryNumber"
                                           th:checked="${saveField.saveInventoryNumber != null && saveField.saveInventoryNumber.equals('on')}">
                                    Save state of field
                                </label>
                            </div>
                            <div>
                                <label for="autoincrement">
                                    <input class="form-check-input" type="checkbox" id="autoincrement"
                                           name="autoincrement"
                                           th:checked="${saveField.autoincrement != null && saveField.autoincrement.equals('on')}">
                                    Enable autoincrement
                                </label>
                            </div>
                        </td>
                        <td>
                            <label for="saveStoredIn">
                                <input class="form-check-input" type="checkbox" id="saveStoredIn" name="saveStoredIn"
                                       th:checked="${saveField.saveStoredIn != null && saveField.saveStoredIn.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <label for="saveUnit">
                                <input class="form-check-input" type="checkbox" id="saveUnit" name="saveUnit"
                                       th:checked="${saveField.getSaveUnit != null && saveField.getSaveUnit.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <label for="savePrice">
                                <input class="form-check-input" type="checkbox" id="savePrice" name="savePrice"
                                       th:checked="${saveField.savePrice != null && saveField.savePrice.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <label for="saveQuantity">
                                <input class="form-check-input" type="checkbox" id="saveQuantity" name="saveQuantity"
                                       th:checked="${saveField.saveQuantity != null && saveField.saveQuantity.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <label for="saveIsOwnedByEmployee">
                                <input class="form-check-input" type="checkbox" id="saveIsOwnedByEmployee"
                                       name="saveIsOwnedByEmployee"
                                       th:checked="${saveField.saveIsOwnedByEmployee != null && saveField.saveIsOwnedByEmployee.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${errors}">
                    <p class="error" th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"/>
                </div>
                <button type="submit" class="btn btn-primary add-button">Add</button>
            </form>
            <br/>
            <br/>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Serial number</th>
                    <th>Item name</th>
                    <th>Inventory number</th>
                    <th>Stored in</th>
                    <th>Unit</th>
                    <th>Price per unit</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                    <th>Created at</th>
                    <th>Owned by employee</th>
                    <th>Edit</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${items.content}" th:object="${item}">
                    <td th:text="*{serialNumber}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{inventoryNumber}"></td>
                    <td th:text="*{storedIn}"></td>
                    <td th:text="*{getUnit}"></td>
                    <td th:text="*{getPricePerUnit}"></td>
                    <td th:text="*{quantity}"></td>
                    <td th:text="*{sum}"></td>
                    <td th:text="*{createdAt.toLocalDate()}"></td>
                    <td th:text="*{isOwnedByEmployee}"></td>
                    <td class="text-center">
                        <form th:action="@{'/items/' + ${item.id}}" method="get" target="_blank">
                            <button type="submit" class="btn btn-primary btn-xs" data-title="Edit">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
