<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="viewport">
    <div th:insert="~{fragment/side-bar :: side-bar}"></div>

    <div id="content">
        <div class="container-fluid">
            <br/>
            <br/>
            <form th:method="put" th:action="@{'/items/' + ${itemDto.id}}" th:object="${itemDto}">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th>Serial number</th>
                        <th>Item name</th>
                        <th>Inventory number</th>
                        <th>Stored in</th>
                        <th>Unit</th>
                        <th>Price per unit</th>
                        <th>Quantity</th>
                        <th>Owned by employee</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <b th:text="*{serialNumber}"></b>
                            <label for="serialNumber">
                                <input type="hidden" id="serialNumber" name="serialNumber"
                                       th:value="*{serialNumber}">
                            </label>
                        </td>
                        <td>
                            <label for="name">
                                <input type="text" id="name" name="name" placeholder="Item name"
                                       th:value="*{name}" autofocus>
                            </label>
                        </td>
                        <td>
                            <label for="inventoryNumber">
                                <input type="text" id="inventoryNumber" name="inventoryNumber"
                                       placeholder="Inventory number"
                                       th:value="*{inventoryNumber}">
                            </label>
                        </td>
                        <td>
                            <label for="storedIn">
                                <input type="text" id="storedIn" name="storedIn" placeholder="Stored in"
                                       th:value="*{storedIn}">
                            </label>
                        </td>
                        <td>
                            <label for="unit">
                                <select id="unit" name="unit" th:field="${itemDto.unit}">
                                    <option th:each="option : ${units}"
                                            th:value="${option.name()}"
                                            th:text="${option}"
                                            th:selected="${itemDto.unit == option}">
                                    </option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <label for="pricePerUnit">
                                <input type="number" id="pricePerUnit" name="pricePerUnit" placeholder="Price per unit"
                                       th:value="*{getPricePerUnit}" step=0.01>
                            </label>
                        </td>
                        <td>
                            <label for="quantity">
                                <input type="number" id="quantity" name="quantity" placeholder="Quantity"
                                       th:value="*{quantity}" step=0.001>
                            </label>
                        </td>
                        <td>
                            <label for="isOwnedByEmployee">
                                <input class="form-check-input" type="checkbox" id="isOwnedByEmployee"
                                       name="isOwnedByEmployee"
                                       th:checked="${itemDto.isOwnedByEmployee.equals('Yes')}">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${errors}">
                    <p class="error" th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"/>
                </div>
                <b id="message" th:if="${saved}" th:text="${saved}"></b>
                <br/>
                <button type="submit" class="btn btn-primary add-button">Save</button>
            </form>
            <br/>
            <form th:action="@{'/items/' + *{id}}">
                <button type="submit" class="btn btn-secondary add-button">Reset changes</button>
            </form>
            <br/>
            <form th:method="delete" th:action="@{'/items/' + *{id}}">
                <button type="submit" class="btn btn-danger add-button">Delete</button>
            </form>
        </div>
    </div>
</div>
<script>
    var messageElement = document.getElementById("message");
    if (messageElement) {
        setTimeout(function () {
            messageElement.style.display = "none";
        }, 2000);
    }
</script>
</body>
</html>
