<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blind inventory</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div id="viewport">
    <div th:insert="~{fragment/side-bar :: side-bar}"></div>

    <div id="content">
        <div class="container-fluid">
            <br/>
            <br/>
            <br/>
            <form th:action="@{/inventory(returnTo=blind)}" method="post" th:object="${inventoryDto}">
                <table class="table table-borderless" style="display: flex;">
                    <tbody>
                    <tr>
                        <td>
                            <label for="inventoryNumber">
                                <input type="text" id="inventoryNumber" name="inventoryNumber"
                                       th:value="*{inventoryNumber}"
                                       placeholder="Inventory number" autofocus>
                            </label>
                        </td>
                        <td>
                            <label for="currentQuantity">
                                <input type="number" id="currentQuantity" name="currentQuantity"
                                       th:value="*{currentQuantity}"
                                       placeholder="Current quantity" step=0.001>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="saveInventoryNumber">
                                <input type="checkbox" id="saveInventoryNumber" name="saveInventoryNumber"
                                       th:checked="${saveField.saveInventoryNumber != null && saveField.saveInventoryNumber.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                        <td>
                            <label for="saveQuantity">
                                <input type="checkbox" id="saveQuantity" name="saveQuantity"
                                       th:checked="${saveField.saveQuantity != null && saveField.saveQuantity.equals('on')}">
                                Save state of field
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${errors}">
                    <p class="error" th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"/>
                </div>
                <button type="submit" class="btn btn-primary add-button">Send data</button>
            </form>
            <br/>
            <form th:action="@{/inventory/export}">
                <input type="hidden" name="inventoryMethod" value="blind">
                <button type="submit" class="btn btn-success add-button">Finish inventory</button>
            </form>
            <br/>
            <form th:action="@{/inventory/cancel}" th:method="delete">
                <button type="submit" class="btn btn-danger add-button">Cancel inventory</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>