<div th:fragment="side-bar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div id="sidebar">
        <header>
            <a href="/">Inventorying App</a>
        </header>
        <ul class="nav">
            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="/items">
                    <i class="zmdi zmdi-plus"></i> Add items
                </a>
            </li>
            <li>
                <a href="/items/filter">
                    <i class="zmdi zmdi-view-list-alt"></i> View items
                </a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin/users">
                    <i class="zmdi zmdi-accounts-add"></i>Manage users
                </a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{'/admin/users/' + ${#authentication.principal.user.id}}">
                    <i class="zmdi zmdi-account"></i> My account
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="zmdi zmdi-close"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</div>
