<div th:fragment="side-bar">
    <div id="sidebar">
        <header>
            <a href="/">Inventorying App</a>
        </header>
        <ul class="nav">
            <li>
                <a href="/items">
                    <i class="zmdi zmdi-view-dashboard"></i> Items
                </a>
            </li>
            <li>
                <a href="/items/filter">
                    <i class="zmdi zmdi-filter-list"></i> Filter
                </a>
            </li>
            <li>
                <a href="/admin/users">
                    <i class="zmdi zmdi-accounts-add"></i>Manage users
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="zmdi zmdi-close"></i> Logout
                </a>
            </li>
        </ul>
    </div>
</div>
