h1 {
    font-family: Bahnschrift, serif;
    font-weight: bold;
    font-size: 10vw;
}

body, html {
    height: 80%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
