<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about project</title>
</head>
<body>
<span>This is <a href="/login/redirect"><b>Inventorying App</b></a> - spring-based web application for inventory,
    where you can add items, view, filter and export to PDF.
    Also, you can carry out two types of inventory: “sighted” and “blind” and then export the result to a PDF file.
    When you create a new account, your role is ADMIN,
    so you can create ten accounts with role USER, with limited functionality.
    <br/>
    <br/>
    <b>Default login/pass is test/1234.</b>
    <br/>
    <br/>
    Full description are on <a href="https://github.com/IliaWithHat/inventorying-app">GitHub</a>.
</span>
</body>
</html>