<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script defer src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="register-form" th:action="@{/registration}" method="post" th:object="${user}">
            <label for="email">
                <input id="email" type="text" name="email" th:value="*{email}"
                       placeholder="Email">
            </label>
            <label for="firstName">
                <input id="firstName" type="text" name="firstName" th:value="*{firstName}"
                       placeholder="First name">
            </label>
            <label for="lastName">
                <input id="lastName" type="text" name="lastName" th:value="*{lastName}"
                       placeholder="Last name">
            </label>
            <label for="phone">
                <input id="phone" type="text" name="phone" th:value="*{phone}"
                       placeholder="Phone">
            </label>
            <label for="password">
                <input id="password" type="password" name="password"
                       placeholder="Password">
            </label>
            <input id="role" type="hidden" name="role" value="ADMIN">
            <div th:if="${errors}">
                <p class="error" th:each="error : ${errors}" th:text="${error.getDefaultMessage()}"/>
            </div>
            <button type="submit">create</button>
            <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>
